body {
  color: black;
  background-color: #F5F5DC;
}
#lesson_container {
  margin: 5px;
}
#exam_container {
  overflow: hidden;
  margin-bottom:60px;
}
#exam_container:last-child {
  margin-bottom:0;
}
/* prev next buttons */
#navigation {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px;
  text-align: right;
}
#prev_button,#next_button,#finish_button {
  display:inline-block;
  background: rgb(100,200,150);
  color:#fff;
  padding:10px 20px;
  border-bottom:solid 5px rgb(50,150,100);
  border-radius: 10px;
  cursor: pointer;
}
#finish_button {
  background: rgb(70, 130, 180);
  border-bottom:solid 5px rgb(56, 103, 143);
}
#prev_button:hover,
#next_button:hover {
    background: rgb(50,150,100);
}
#finish_button:hover {
  background: rgb(56, 103, 143);
}
#prev_button.disabled:hover,
#next_button.disabled:hover,
#finish_button.disabled:hover {
    background: rgb(100,200,150);
    cursor:  default;
}
#finish_button.disabled:hover {
  background: rgb(70, 130, 180);
}
.disabled {
    opacity: 0.3;
}
.slides_div {
  visibility: hidden;
  position: relative;
  margin: 10px;
}
.slide {
  float:left;
  padding:10px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border:solid 10px rgb(150,30,50);
  border-radius: 10px;
  background-color:rgb(200,80,100);
}
.slide h1 {
  margin: auto;
}
.slide label.block {
  display: block;
}
.slide .questionChoices, #restartButton {
  margin: auto;
}
*, *::before, *::after {
	box-sizing: border-box;
}
#progressBar_container{
  width: 50%;
  height: 35px;
  border: 3px solid rgb(56, 103, 143);
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
}
.progressBar {
  color: #fff;
  text-align: right;
  height: 100%;
  width: 0;
  background-color: rgb(70, 130, 180);
  border-radius: 0px;
}
