@font-face {
  font-family: YasashisaAntique;
  src: url(fonts/07YasashisaAntique.otf);
}

body {
  color: white;
  background-color: #000;
  margin: 0;
  padding: 0;
}
#lesson_container {
  margin: 5px;
}
