body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

div#memory_board{
  background:#CCC;
  border:#999 1px solid;
  display:inline-block;
  padding:24px;
  margin:0px auto;
}

div#memory_board > div{
  background: url(tile_bg.jpg) no-repeat;
  border:#000 1px solid;
  width:71px;
  height:71px;
  float:left;
  margin:10px;
  padding:20px;
  font-size:32px;
  cursor:pointer;
  text-align:center;
}

div#memory_board > div.unflipped_card {
  background-color: #FFFFFF;
}

div#memory_board > div.flipped_card {
  background-color: #F5F5DC;
}